body {
  margin: 0;
  font-family: sans-serif;
  color: #804030;
}

header {
  background: #804030;
  padding: 45px 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.5px;

  h1 {
    font-size: 24px;
  }
}
